@()

@main {
    <div class="container">
        <h3> Information Center </h3>
        <ul class="list-group">
          <li class="list-group-item">
              <span class="badge">14</span>
              Message
          </li>
          <li class="list-group-item">
              <span class="badge">8</span>
              Pending Tasks
          </li>
        </ul>
    </div>

    <div class="container">
        <h3> Statistics </h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>Value</td>
                    <td>Charge</td>
                </tr>
                <tr>
                    <td>CPU Usage</td>
                    <td>1099 sec</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Memory Usage</td>
                    <td>23000 MB</td>
                    <td>$17</td>
                </tr>
                <tr>
                    <td>Disk IO</td>
                    <td>1200 MB</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Network IO</td>
                    <td>5038 MB</td>
                    <td>$10</td>
                </tr>
                <tr>
                    <td>PLDA License</td>
                    <td>1</td>
                    <td>$5</td>
                </tr>
            </tbody>
        </table>
        <h3> Total Charge: $99.99 </h3>
    </div>
}

            