@(appForm: Form[App])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add an application</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(appForm("name"), '_label -> "Application name")

            @select(
                appForm("type"), 
                options("PLDA" -> "PLDA", "GraphLab" -> "GraphLab"), 
                '_label -> "Application Type", '_default -> "-- Choose a type --",
                '_showConstraints -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}