@(names:Array[String], urls:Array[String], states:Array[String], types:Array[String])

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">
        @title
    </th>
}

@main {
    <div class="actions">
        <a href="@routes.Application.create()" class="btn large primary">Add a new app</a> or
        <a href="@routes.Application.result()" class="btn large primary">Checkout result</a> 
    </div>

    <h1>Applicatons</h1>
    <table class="computers zebra-striped">
        <thead>
            <tr>
                @header("name", "Application name")
                @header("url", "URL")
                @header("apptype", "Type")
                @header("state", "State")
            </tr>
        </thead>
        <tbody>

            @for(i <- 0 to (urls.length - 1)) {
                <tr>
                    <td>@names(i)</td>
                    <td><a href="@urls(i)">link</a></td>
                    <td>@types(i)</td>
                    <td>@states(i)</td>
                </tr>
            }

        </tbody>
    </table>
}

            