@(names:Array[String], urls:Array[String], states:Array[String], types:Array[String])

@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header">
        @title
    </th>
}

@main {

    <div class="container">
        <h1>Applicatons</h1>
        <table class="table table-striped">
            <thead>
                <tr class="active">
                    @header("name", "Application name")
                    @header("url", "URL")
                    @header("apptype", "Type")
                    @header("state", "State")
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Application Engine Main</td>
                    <td><a herf="#">link</a></td>
                    <td>System Service</td>
                    <td>Running</td>
                </tr>

                @for(i <- 0 to (urls.length - 1)) {
                    <tr>
                        <td>@names(i)</td>
                        <td><a href="@urls(i)">link</a></td>
                        <td>@types(i)</td>
                        <td>@states(i)</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

            