@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>MLass platform (by Gibbs Sampling Team)</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
    </head>
    <body>
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    Pivotal Hackday Application &mdash; MLaas Platform (by Gibbs Sampling Team)
                </a>
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
